spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      auto-commit: false

  output:
    ansi:
      enabled: always

  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    show-sql: true

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
    vertex:
      ai:
        gemini:
          project-id: ${GOOGLE_API_KEY}
          location : asia-northeast3
          chat:
            options:
              model: "vertex--pro-vision"

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_ID}
    password: ${EMAIL_PW}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000
          ssl:
            trust: smtp.gmail.com

  data:
    elasticsearch:
      repositories:
        enabled: true

    redis:
      host: localhost
      port: 6379

  elasticsearch:
    uris: http://localhost:9200 # Elastic 노드 주소
    # username: elastic # 보안 해제 시 불필요 
    # password: changeme # 보안 해제 시 불필요

logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    com.backend: DEBUG

springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

custom:
  jwt:
    access-token:
      expire-time: "#{24 * 60 * 60 * 1000}"
    refresh-token:
      expire-time: "#{72 * 60 * 60 * 1000}"
    secretPattern: ${SECRET_PATTERN}

openai:
  url: ${OPENAI_API_URL}

toss:
  payments:
    base-url: "https://api.tosspayments.com"
    secret-key: ${PAYMENT_SECRET_KEY}

resilience4j:
  circuitbreaker:
    configs:
      aiExternal:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        permittedNumberOfCallsInHalfOpenState: 5
        waitDurationInOpenState: 10s
    circuitbreakerAspectOrder: -4
  retry:
    configs:
      aiRetry:
        maxAttempts: 3
        waitDuration: 2s
        enableExponentialBackoff: true
        exponential-backoff-multiplier: 2.0
    retryAspectOrder: -3
